<!DOCTYPE html>
<html lang="en">

<head>
    <title>Siddhanta Gupta</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/article.css" />
</head>

<body class="is-preload">

    <!-- header start -->
    <header id="header-bar">
        <div id="header-bar-left">
            <a href="https://siddhantagupta.github.io" class="image avatar" target="_blank"><img src="../images/avatar.jpg" alt="" /></a>
            <h3 class="no-margin"><a href="https://siddhantagupta.github.io" target="_blank">Siddhanta Gupta</a></h3>
        </div>

        <div id="header-bar-center">
        </div>

        <div id="header-bar-right">
            <ul class="icons no-margin">
                <li><a href="https://github.com/SiddhantaGupta" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:siddhanta.sg@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </header>
    <!-- header end -->

    <!-- title -->
    <h1 class="article-title">This is The Title</h1>

    <!-- sub title -->
    <h2 class="article-subtitle">This is the subtitle</h2>

    <!-- section heading -->
    <h3 class="article-section-heading">#1 This is a section heading</h3>
    <p>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod.
        Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
        adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam
        adipiscing eu felis</p>

    <!-- block quote -->
    <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod.
    Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
    adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam
    adipiscing eu felis.</blockquote>

    <!-- image tags -->
    <img src="../images/fulls/activities.png" class="article-image" />

    <!-- paragraphs -->
    <p>Fringilla nisl. <a href="#" class="">This is a link</a> Donec accumsan interdum nisi, quis tincidunt felis
    sagittis eget tempus euismod.
    Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
    adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam
    adipiscing eu felis</p>

    <!-- link tag -->
    <a href="#" class="">This is a link</a>
    <!-- link opens in new tab icon -->
    <img src="../images/icons/open_new_tab_icon.svg" class="new-tab-icon" />

    <!-- aesthetics -->
    <b>bold</b>

    <strong>strong</strong>

    <i>italic</i>

    <em>emphasized</em>

    <sup>superscript</sup>

    <sub>subscript</sub>

    <u>underlined</u>

    <code>for (;;) { ... }</code>

    <pre><code>i = 0;

        while (!deck.isInOrder()) {
        print 'Iteration ' + i;
        deck.shuffle();
        i++;
        }
        
        print 'It took ' + i + ' iterations to sort the deck.';</code></pre>

    <ul>
        <li>Dolor pulvinar etiam magna etiam.</li>
        <li>Sagittis adipiscing lorem eleifend.</li>
        <li>Felis enim feugiat dolore viverra.</li>
    </ul>

    <ol>
        <li>Dolor pulvinar etiam magna etiam.</li>
        <li>Etiam vel felis at lorem sed viverra.</li>
        <li>Felis enim feugiat dolore viverra.</li>
        <li>Dolor pulvinar etiam magna etiam.</li>
        <li>Etiam vel felis at lorem sed viverra.</li>
        <li>Felis enim feugiat dolore viverra.</li>
    </ol>

    <!-- Alternate -->
    <ul class="alt">
        <li>Dolor pulvinar etiam magna etiam.</li>
        <li>Sagittis adipiscing lorem eleifend.</li>
        <li>Felis enim feugiat dolore viverra.</li>
    </ul>

    <!-- icons -->
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
    </ul>

    <!-- para with image on left side -->
    <p>
        <span class="image left">
            <img src="images/avatar.jpg" alt="" />
        </span>
        Fringilla nisl. Donec accumsan
        interdum
        nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
        faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
        Fringilla nisl. Donec accumsan
        interdum
        nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
        faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
    </p>

    <!-- para with image on right side -->
    <p>
        <span class="image right">
            <img src="images/avatar.jpg" alt="" />
        </span>
        Fringilla nisl. Donec accumsan
        interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
        faucibus
        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
        faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
        Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
        tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat
        ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget.
        tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat
        ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
    </p>

</body>

</html>